.title{
    color: red;
    &__form{
        background: rgb(238, 90, 4);
        border-radius: 5px;
        border: none;
    }
}
.table{
    color: white;
    border-radius: 10px;
}
.table:hover{
    transition: 0.3s ease all;
    border-radius: 10px;
}