* {
    margin: 0;
    padding: 0;
}

.navcolor {
    background: white;
    /*background: rgb(50, 54, 58);*/
   /*background: linear-gradient(15deg, rgba( 3,206,249,1) 0%, rgba(0,135,242,1) 75%); */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 45px;
}

.navBar li a {
    color: rgb(10, 4, 4);
    font-weight: 500;
    border-radius: 6px;
    margin: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navBar li a:hover {
    color: rgba(29, 2, 2, 0.637);    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    width: 175px;
    padding: 3px;
    border-radius: 8px;
}
